<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Control Panel</title>
  <link rel="stylesheet" href="css/home.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <section class="about">
    <p class="about-links">
      <a href="/AdminCP" target="_parent">Home</a>
      <a href="/Addissuse" target="_parent">Add issuse</a>
      <a href="/search" target="_parent">Search</a>
    </p>
  </section>
  <section class="container">
 <div class="login">
      <h1>القضايا</h1>
      <table>
<tr>
<th>حــذف</th>
<th>تـعـديـل</th>
<th> التاريخ </th>
<th> نوع المخالفة</th>
<th>اسم المخالف </th>
<th>المصدر</th>
<th>م</th>
</tr>
<tr>
  <td><a href="/AdminCP" target="_parent">حذف</a></td>
  <td><a href="/AdminCP" target="_parent">تعديل</a></td>
  <td>21-12-2014</td>
  <td>نيابة - سحب من المستورد</td>
  <td>زيوت شعر (مجموعه زيت الزيتون)</td>
  <td>شركة ابو ابراهيم </td>
<td>1</td>
</tr>
<tr>
  <td><a href="/AdminCP" target="_parent">حذف</a></td>
  <td><a href="/AdminCP" target="_parent">تعديل</a></td>
  <td>21-12-2014</td>
  <td>نيابة - سحب من المستورد</td>
  <td>زيوت شعر (مجموعه زيت الزيتون)</td>
  <td>شركة ابو ابراهيم </td>
<td>2</td>
</tr>
<tr>
  <td><a href="/AdminCP" target="_parent">حذف</a></td>
  <td><a href="/AdminCP" target="_parent">تعديل</a></td>
  <td>21-12-2014</td>
  <td>نيابة - سحب من المستورد</td>
  <td>زيوت شعر (مجموعه زيت الزيتون)</td>
  <td>شركة ابو ابراهيم </td>
<td>3</td>
</tr>
<tr>
  <td><a href="/AdminCP" target="_parent">حذف</a></td>
  <td><a href="/AdminCP" target="_parent">تعديل</a></td>
  <td>21-12-2014</td>
  <td>نيابة - سحب من المستورد</td>
  <td>زيوت شعر (مجموعه زيت الزيتون)</td>
  <td>شركة ابو ابراهيم </td>
<td>4</td>
</tr>
      </table>
  </section>

</body>
</html>
